body {
  
  background-color: rgb(136, 10, 119);
}

ul.navbar {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 150px;
  font-size: 25px;
}

img.Isabelle {
  width: 700px;
  height: 500px;
  position : relative;
  
  
  
}

p.texte {
  
  font-size: 25px;
  color:#28E612;
  
}
p.texte2 {
  
  font-size: 25px;
  color:rgb(251, 255, 1);
  margin-top:100px;
  
}
p.title2 {
  
  font-size: 40px;
  color:rgb(4, 2, 128);
 
}
h1.title {
  
  font-size: 60px;
  color:rgb(4, 2, 128);
 
}

h3.title2 {
 
  font-size: 40px;
  margin-top: 100px;
  color:rgb(4, 2, 128);
}

ol.texte2{
  
  
    font-size: 20px;
    color:rgb(96, 163, 207);
    margin-top:50px;
    
  
}